* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html,
body {
    height: 100%;
    font-family: sans-serif;
    max-width:1480px;
    margin:auto;
    background-color:#1A1C18;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 16px;
}